.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
  max-width: 1200px;
}

.listItem {
  width: calc(100% / 2 - 20px);
  min-width: 364px;
  margin-top: 20px;
  margin-left: 20px;
}
